<template>
    <div id="auth">
        <div class="columns">
            <div class="column">
                <h2 class="title has-text-centered">{{ title }} </h2>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <div class="notification is-success" v-if="isSuccess">
                    <button class="delete" @click="isSuccess = false"></button>
                    Пароль успешно измёнен. Вы будете перенаправлены на страницу входа
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4 is-offset-4">
                <form method="POST" @submit.prevent="reset">
                    <div class="field">
                        <label class="label">Емайл</label>
                        <p class="control has-icons-left">
                            <input class="input" type="email" placeholder="Емайл" v-model="form.email">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </p>
                        <p class="help is-danger" v-if="form.errors.has('email')">{{ form.errors.get('email') }}</p>

                    </div>

                    <div class="field">
                        <label class="label">Новый пароль (минимум 6 символов)</label>
                        <p class="control">
                            <input class="input" type="password" placeholder="Пароль" v-model="form.password">
                        </p>
                        <p class="help is-danger" v-if="form.errors.has('password')">{{ form.errors.get('password') }}</p>

                    </div>
                    <div class="field">
                        <label class="label">Новый пароль (подтверждение)</label>
                        <p class="control">
                            <input class="input" type="password" placeholder="Новый пароль (подтверждение)" v-model="form.password_confirmation">
                        </p>
                        <p class="help is-danger" v-if="form.errors.has('password')">{{ form.errors.get('password_confirmation') }}</p>
                    </div>

                    <div class="field ">
                        <p class="control">
                            <button class="button is-primary is-fullwidth" :class="{'is-loading' : isLoading }" type="submit">
                                Установить новый пароль
                            </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered	">
                <h5>
                    <router-link :to="{ name: 'auth.login' }">Войти
                    </router-link>
                </h5>
                <h5>Не зарегистрированы?
                    <router-link :to="{ name: 'auth.register' }">Регистрация
                    </router-link>
                </h5>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <a class="button is-outlined" :href="blogUrl">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    Вернуться на Angelinvestors</a>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'password_reset',
    layout: 'default',
    metaInfo: { title: 'Сброс пароля' },
    data() {
        return {
            title: 'Сброс пароля',
            isLoading: false,
            isSuccess: false,
            form: new Form({
                email: '',
                password: '',
                token: '',
                password_confirmation: '',
            }),
            blogUrl: config.blogUrl
        };
    },
    methods: {
        reset() {
            this.isLoading = true
            this.isSuccess = false
            this.form.token = this.$route.params.token
            this.form.post('/api/password/reset')
                .then(response => {
                    console.log(response)
                    this.isLoading = false
                    this.isSuccess = true
                    this.form.reset()
                    setTimeout(() => {
                        this.$router.push({ name: 'auth.login' })
                    }, 1000);
                })
                .catch(error => {
                    console.warn(error)
                    this.isLoading = false
                    this.isSuccess = false
                })
        },
    }
}
</script>
<style>
#auth {
    padding-top: 50px;
}
</style>
