<template>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <h2 class="title">{{ title }} </h2>
            </div>
            <div class="column">
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <button class="button is-primary" @click="$router.push({ name: child,
                                        params : { type: $route.query.type }})">Добавить событие</button>
                    </div>
                </div>
            </div>
        </div>
        <grid v-bind:url="url" :defaultColumns="columns" delete_url="/api/events" :child="child" :defaultFilters="defaultFilters"></grid>
        <modal></modal>
    </div>
</template>

<script>
import grid from '../../components/table.vue'

export default {
    metaInfo: {
        titleTemplate: 'События | %s'
    },
    components: {
        grid
    },
    data() {
        return {
            fields: [],
            columns: [
                { label: 'Название', name: 'name' },
                { label: 'Дата начала', name: 'date_time_from' },
                { label: 'Дата окончания', name: 'date_time_to' },
                { label: 'Описание', name: 'description' },
                { label: 'Статус', name: 'status' },
            ],
            defaultFilters: [],
            title: 'События',
            child: 'event'
        }
    },
    computed: {
        url: function() {
            return '/api/events/'
        }
    },
}
</script>

