<template>
    <div class="container is-fluid">
        <loader v-if="isLoading"></loader>
        <div v-if="!isLoading">
            <div class="columns">
                <div class="column">
                    <h2 class="title">{{ title }} </h2>
                </div>
            </div>
            <div class="columns">
                <div class="column is-8">
                    <div class="field">
                        <label class="label">Название мероприятия</label>
                        <div class="control">
                            <input class="input" type="text" placeholder="Название мероприятия" v-model="form.name">
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('name')">{{ form.errors.get('name') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Дата и время мероприятия</label>
                        <div class="control">
                            <el-date-picker v-model="form.date_time_from" type="datetimerange" format="HH:mm dd/MM/yyyy" :picker-options="pickerOptions2" placeholder="Выберите дату и время мероприятия" align="center">
                            </el-date-picker>

                        </div>
                        <p class="help is-danger" v-if="form.errors.has('date_time_from')">{{ form.errors.get('date_time_from') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Краткое описание мероприятия</label>
                        <div class="control">
                            <textarea class="textarea" v-model="form.description" placeholder="Краткое описание мероприятия"></textarea>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('description')">{{ form.errors.get('description') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Статус</label>
                        <div class="control">
                            <div class="select">
                                <select v-model="form.status">
                                    <option value="" v-if="!$route.query.id">Выберите статус</option>
                                    <option value="approved">Принята</option>
                                    <option value="pending">Ожидается</option>
                                    <option value="rejected">Отказано</option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('status')">{{ form.errors.get('status') }}</p>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" v-if="$route.query.id" :class="{
                                   'is-loading': isSubmitted }" @click="update">Сохранить изменения
                            </button>
                            <button v-else class="button is-primary" :class="{
                                   'is-loading': isSubmitted }" @click="submit">Сохранить
                            </button>

                        </div>
                        <div class="control" v-if="$route.query.id">
                            <button class="button is-danger" :class="{
                                   'is-loading': isDeleted }" @click="deleteEvent">Удалить
                            </button>
                        </div>
                        <div class="control">
                            <button class="button is-link" @click="$router.go(-1)">Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import Datepicker from 'vuejs-datepicker';


export default {
    name: 'event',
    metaInfo: { title: 'Событие' },
    data() {
        var arr = [], i, j;
        for (i = 0; i < 24; i++) {
            for (j = 0; j < 2; j++) {
                arr.push(i + ":" + (j === 0 ? "00" : 30 * j));
            }
        }
        return {
            title: 'Событие',
            isLoading: false,
            isSubmitted: false,
            isDeleted: false,
            form: new Form({
                name: '',
                date_time_from: [],
                date_time_to: '',
                description: '',
                status: '',
            }),
            pickerOptions2: {
                disabledDate: function(date) {
                    let now = new Date();
                    now.setHours(0, 0, 0, 0);
                    if (date < now) {
                        return true
                    } else
                        return false
                }
            },
        }
    },
    components: {
        Datepicker
    },
    computed: {
        ...mapGetters([
            'response',
        ])
    },
    created() {
        if (this.$route.query.id) {
            this.isLoading = true;
            this.getData({
                url: '/api/events/' + this.$route.query.id,
                params: {
                    limit: '',
                    page: ''
                }
            }).then(() => {
                this.form.name = this.response.name
                this.form.date_time_from[0] = this.response.date_time_from
                this.form.date_time_from[1] = this.response.date_time_to
                this.form.date_time_to = this.response.date_time_to
                this.form.description = this.response.description
                this.form.status = this.response.status
                this.isLoading = false
            })
        }
    },
    methods: {
        ...mapActions({
            getData: 'getData',
        }),
        submit() {
            this.isSubmitted = true
            let date_time = this.form.date_time_from
            this.form.date_time_from = date_time[0]
            this.form.date_time_to = date_time[1]
            this.form.post('/api/events')
                .then(response => {
                    this.isSubmitted = false;
                    alert('Событие добавлено')
                    this.$router.go(-1)
                }).catch(() => {
                    this.isSubmitted = false
                })
        },
        update() {
            this.isSubmitted = true
            var offset = new Date().getTimezoneOffset();
            let date_time = this.form.date_time_from
            this.form.date_time_from = new Date(date_time[0])
            this.form.date_time_to = new Date(date_time[1])
            this.form.put('/api/events/' + this.$route.query.id)
                .then(response => {
                    this.isSubmitted = false;
                    alert('Событие обновлено')
                }).catch(() => {
                    this.isSubmitted = false
                })
        },
        deleteEvent() {
            this.isDeleted = true
            axios.delete('/api/events', {
                params:
                { ids: this.response.id }
            })
                .then(response => {
                    this.isDeleted = false
                    alert('Событие удалено')
                    this.$router.go(-1)
                })
                .catch(() => {
                    this.isDeleted = false
                })
        },
    }
}

</script>