<template>
    <section class="hero" style="background-color: whitesmoke">
        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns">
                    <div class="column"></div>
                    <div class="column">
                        <div class="loader-inner ball-scale-multiple">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
<style lang="css" src="loaders.css/loaders.min.css"></style>
<style>
    .ball-scale-multiple > div {
        background-color: #00d1b2;
    }
</style>
