<template>
    <div class="">
        <loader v-if="isLoading"></loader>
        <div v-if="!isLoading">
            <div class="columns">
                <div class="column">
                    Получено
                    <b>{{ limit > response.total ? response.total : limit}}
                    </b> результатов из
                    <b>{{ response.total }}
                    </b> за {{ Math.round(response.time * 100) / 100 }} сек
                </div>
                <div class="column is-3" v-if="response.data.length > 0">
                    <div class="field is-horizontal">
                        <div class="field-label is-small">
                            <label class="label">Поиск
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                                <div class="control">
                                    <input class="input is-small" type="text" placeholder="Поиск" v-model="filterKey">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns" v-if="response.data.length > 0">
                <div class="column">
                    <div class="field is-horizontal">
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth is-small">
                                        <select v-model="action">
                                            <option value="">
                                                Выберите действие
                                            </option>
                                            <option value="delete">Удалить
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field is-grouped">
                                <p class="control">
                                    <a class="button is-dark is-small" @click="doBulkAction" :class="{'is-loading': isPerformingAction }">
                                        Применить
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column ">
                    <div class="field is-horizontal is-pulled-right ">
                        <div class="field-label is-small">
                            <label class="label">Результаты
                            </label>
                        </div>
                        <div class="field-body">
                            <div class="field is-narrow">
                                <div class="control">
                                    <div class="select is-fullwidth is-small">
                                        <select v-model="limit">
                                            <option>10</option>
                                            <option>25</option>
                                            <option>50</option>
                                            <option>100</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-dark is-small" @click="openModal">Столбцы
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="columns" v-if="response.data.length > 0">
                <div class="column" style="overflow-x: scroll;">
                    <div class="box" style="overflow-x: scroll;">
                        <table class="table is-narrow table-bordered is-fullwidth">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th v-for="column in selectedColumns" :key="column.id">
                                        <a href="" @click.prevent="sortBy(column.name)">{{ column.label }}</a>
                                        <span class="icon">
                                            <i class="fa" :class="sortOrders[column.name] > 0 ? 'fa-angle-up' : 'fa-angle-down'"></i>
                                        </span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="row in filteredData" :key="row.id" :class="{'is-selected': isSelected(row) }">
                                    <td>
                                        <div class="field">
                                            <div class="control">
                                                <label class="checkbox">
                                                    <input type="checkbox" :value="row.selected" @click="$set(row,'selected',$event.target.checked)">
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    <td v-for="column in selectedColumns" :key="column.id" v-if="column === selectedColumns[0]">
                                        <router-link :to="{ name: child, query: { id: getRowValue(row.id)}}">
                                            {{ getRowValue(row[column.name]) }}
                                        </router-link>
                                    </td>
                                    <td v-else>
                                        {{ getRowValue(row[column.name]) }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="box">
                        <nav class="pagination">
                            <a class="pagination-previous" @click="curr_page--" v-if="curr_page > 1">
                                Назад</a>
                            <a class="pagination-next" @click="curr_page++" v-if="curr_page < response.last_page">Дальше
                            </a>
                            <ul class="pagination-list">
                                <li v-for="page in range(curr_page, pages)">
                                    <a class="pagination-link" v-bind:class="{'is-current': curr_page == page }" @click="curr_page = page"> 
                                        {{ page }}
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    props: [
        'url', 'delete_url', 'child', 'defaultColumns', 'defaultFilters'
    ],
    data() {
        return {
            limit: '10',
            curr_page: 1,
            isLoading: false,
            action: '',
            isPerformingAction: false,
            filterKey: '',
            sortKey: '',
            sortOrders: {},
        }
    },
    created() {
        this.isLoading = true;
        let params = this.getParams();
        this.getData({
            url: this.url,
            params: params
        }).then(() => {
            this.limit = this.response.per_page;
            let columns = this.getColumns(this.response)
            this.setColumns(columns)
            this.preselectColumns()
            this.isLoading = false;
        })
    },
    computed: {
        pages: function() {
            if (this.curr_page + 2 > this.response.last_page) {
                return this.response.last_page
            } else {
                return this.curr_page + 2
            }
        },
        filteredData: function() {
            let filterKey = this.filterKey && this.filterKey.toLowerCase();
            let order = this.sortOrders[this.sortKey] || 1;
            this.setTableData({ filterKey: filterKey, order: order, sortKey: this.sortKey })
            return this.filteredResponse(this.sortKey, order, filterKey)
        },
        compoundProperty: function() {
            return this.limit, this.url, this.selectedFilters, Date.now();
        },
        ...mapGetters([
            'response', 'filteredResponse', 'columns', 'selectedFilters', 'selectedColumns'
        ]),
    },
    methods: {
        ...mapActions({
            getData: 'getData',
            deleteData: 'deleteData',
            setColumns: 'setColumns',
            setSelectedColumns: 'setSelectedColumns',
            setTableData: 'setTableData',
            setSelectedFilters: 'setSelectedFilters',

        }),
        range: function(min, max) {
            if (min === this.curr_page) {
                min = this.curr_page - 2;
                min = min < 1 ? 1 : this.curr_page - 2
            }
            let array = [], j = 0;
            for (let i = min; i <= max; i++) {
                array[j] = i;
                j++;
            }
            return array;
        },
        isSelected: function(row) {
            if (row.hasOwnProperty("selected")) {
                return row.selected
            } else
                return false
        },
        sortBy: function(key) {
            this.sortKey = key;
            this.sortOrders[this.sortKey] = this.sortOrders[this.sortKey] * -1
        },
        doBulkAction: function() {
            if (this.action === 'delete') {
                this.isPerformingAction = true;
                var ids = this.filteredData.reduce(function(filtered, row) {
                    if (row.hasOwnProperty("selected") && row.selected) {
                        if (row.id.hasOwnProperty('value')) {
                            filtered.push(row.id.value)
                        } else
                            filtered.push(row.id);
                    }
                    return filtered
                }, []);
                this.deleteData({ url: this.delete_url, params: { ids: ids } })
                    .then(() => {
                        this.isPerformingAction = false;
                        this.isLoading = true;
                        this.getData({
                            url: this.url, params: {
                                limit: this.limit, page: this.curr_page
                            }
                        }).then(() =>
                            this.isLoading = false
                            );
                    }
                    )
            }
        },
        preselectColumns: function() {
            let columns = [];
            if (this.defaultColumns.length < 1) {
                for (let i = 0; i < 4; i++) {
                    columns.push(this.columns[i])
                }
            } else {
                for (let i = 0; i < this.defaultColumns.length; i++) {
                    columns.push(this.defaultColumns[i])
                }
            }
            if (this.response.data.length > 0)
                this.setSelectedColumns(columns)
        },
        openModal: function() {
            this.EventBus.$emit('open-modal');
            this.EventBus.$emit('set-modal-data', {}, 'Columns');
        },
        getParams: function() {
            let params = new URLSearchParams();
            params.append('limit', this.limit);
            params.append('page', this.curr_page);

            let filters = this.selectedFilters.filter((item) => {
                return item.operator !== ''
            });
            if (filters.length > 0) {
                params.append('fields', JSON.stringify(filters))
            }
            return params
        },
        getRowValue: function(row) {
            if (row) {
                if (row.hasOwnProperty('value'))
                    return row.value
                else
                    return row
            }
        },

        getColumns: function(response) {
            const columns = []
            if (response.hasOwnProperty('data')) {
                for (const prop in response.data[0]) {
                    columns.push({
                        label: this.capitalizeFirstChar(prop),
                        name: prop,
                        type: response.data[0][prop].type,
                        field_id: response.data[0][prop].id
                    })
                }
                columns.sort((a, b) => {
                    var nameA = a.label.toUpperCase()
                    var nameB = b.label.toUpperCase()
                    if (nameA < nameB) {
                        return -1
                    }
                    if (nameA > nameB) {
                        return 1
                    }
                    return 0
                })
            }
            return columns
        },
        capitalizeFirstChar: function(string) {
            return string.charAt(0).toUpperCase() + string.substring(1)
        }
    },
    watch: {
        compoundProperty: function() {
            let params = this.getParams();
            this.isLoading = true;
            this.getData({
                url: this.url,
                params: params
            }).then(() => {
                let columns = this.getColumns(this.response)
                this.setColumns(columns)
                this.preselectColumns()
                this.isLoading = false
            });
        },
        curr_page: function() {
            if (this.curr_page < 1)
                this.curr_page = 1;
            if (this.curr_page >= this.response.last_page)
                this.curr_page = this.response.last_page;

            let params = this.getParams();
            this.getData({
                url: this.url,
                params: params
            }).then(() =>
                this.isLoading = false
                );
        },
        selectedColumns: function() {
            let sortOrders = {};
            this.selectedColumns.forEach((key) => {
                sortOrders[key.name] = 1
            });
            this.sortOrders = sortOrders;
        },
    }
};
</script>