<template>
    <section class="hero is-fullheight" >
        <div class="hero-head">
            <div class="container">
                <div class="columns" v-if="!authUser.role">
                    <div class="column is-4 is-offset-2">
                        <form method="POST" @submit.prevent="setRole">
                            <h6 class="subtitle">
                                Выберите роль для завершения регистрации
                            </h6>
                            <div class="field">
                                <label class="label">Роль</label>
                                <div class="control">
                                    <div class="select">
                                        <select v-model="form.role">
                                            <option selected value="">Выберите роль</option>
                                            <option value="investor">Инвестор</option>
                                            <option value="startup">Стартап</option>
                                        </select>
                                    </div>
                                </div>
                                <p class="help is-danger"
                                   v-if="form.errors.has('role')">{{
                                    form.errors.get('role') }}</p>
                            </div>
                            <div class="field">
                                <p class="control">
                                    <button class="button is-primary" :class="{
                               'is-loading' : isLoading }" type="submit">
                                        Сохранить
                                    </button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'
    export default {
        name: 'home',
        metaInfo: {
            titleTemplate: 'Главная | %s'
        },
        computed: {
            ...mapGetters([
                'authUser',
            ])
        },
        data(){
          return {
              form: new Form({
                  role : '',
              }),
              isLoading : false
          }
        },
        created() {
            this.showForm()
        },
        methods: {
            setRole() {
                this.isLoading = true;
                this.form.put('/api/users/'+this.authUser.id)
                    .then(response => {
                        this.isSubmitted = false;
                        this.$store.dispatch('fetchUser').then(()=>{
                        })
                    }).catch(()=>{
                    this.isLoading = false
                })
            },
            showForm() {
                if(this.authUser.role === 'investor' && !this.authUser.status) {
                    this.$router.push({ name: 'forms', query: { type: 'investor' }})
                }
                else if(this.authUser.role ==='startup')
                    this.$router.push({ name: 'forms', query: { type: 'startup'}})
            }
        },
        watch: {
            authUser() {
                this.showForm()
            }
        }
    }
</script>

