<template>
    <div class="column is-12">
        <nav class="navbar" style="background-color: lightgray">
            <div class="navbar-brand">
                <a class="navbar-item">
                    <img src="http://via.placeholder.com/112x28/ffffff/00000?text=AI" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
                </a>

                <div class="navbar-burger burger" data-target="navMenuExample">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenuExample" class="navbar-menu">

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">

                            <div class="navbar-item " v-if="notifications && this.user.role === 'admin'" :class="{ 'is-active' : notification,
                                'has-dropdown':
                                notifications.data.length>0 } ">
                                <a class="navbar-link" href="" @click.prevent="notification? notification = false : notification = true">
                                    <span class="icon" :class="{ 'has-notifications' : notifications.data.length>0 }">
                                        <i class="fa fa-bell"></i>
                                    </span>
                                    <span>{{ notifications.total }}</span>
                                </a>

                                <div class="navbar-dropdown is-left" v-if="notifications.data.length > 0">
                                    <router-link :to="getLink(item)" v-for="item in
                                        notifications.data" v-bind:data="notifications.data" user. v-bind:key="item.id">
                                        <a class="navbar-item">
                                            <div class="navbar-content">
                                                <div class="columns level">
                                                    <div class="column is-pulled-left is-left">
                                                        <span class="icon has-text-danger" @click="readNotification(item)">
                                                            <i class="fa fa-times"></i>
                                                        </span>
                                                    </div>
                                                    <div class="column is-10 is-right">
                                                        <strong>{{ item.text }} </strong><br>
                                                        <template v-if="item.subject_type == 'App\\Models\\User'">
                                                            <small>{{ item.subject.email}}</small><br>
                                                        </template>
                                                        <small class="has-text-grey">{{ getDate(item.created_at) }}</small>
                                                    </div>

                                                </div>
                                            </div>
                                        </a>
                                    </router-link>
                                </div>
                            </div>

                            <div class="navbar-item has-dropdown" :class="{ 'is-active' : navbar} ">
                                <a class="navbar-link" href="" @click.prevent="navbar? navbar = false : navbar = true">
                                    {{ user.email }}
                                </a>
                                <div class="navbar-dropdown ">
                                    <a class="navbar-item" href="" @click.prevent="logout">
                                        <span class="icon">
                                            <i class="fa fa-sign-out"></i>
                                        </span>
                                        <span>Выйти</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>
<script>
import moment from 'moment'
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            navbar: false,
            notification: false,
            isLoading: false
        }
    },
    computed: mapGetters({
        user: 'authUser',
        notifications: 'notifications',
    }),
    created() {
        if (this.user.role === 'admin') {
            this.isLoading = true
            this.fetchNotifications()
                .then(() => {
                    this.isLoading = false
                })
        }
    },
    methods: {
        ...mapActions({
            fetchNotifications: 'fetchNotifications',
            updateNotification: 'updateNotification'
        }),
        logout() {
            this.$store.dispatch('logout')
                .then(() => {
                    this.$router.push({ name: 'auth.login' })
                })
        },
        readNotification(item) {
            let params = {
                url: 'api/notifications/' + item.id,
                params: {
                    'read': true
                }
            }
            this.updateNotification(params).then(() => {
                this.fetchNotifications()
            })
        },
        getDate(date) {
            return moment(date).lang("ru").startOf('hour').fromNow();
        },
        getLink(item) {
            if (item.subject_type === 'App\\Models\\User') {
                return { name: 'user', query: { id: item.subject.id } }
            }
            else
                return { name: 'submission', query: { id: item.subject.id } }
        }
    },
    watch: {
    }
}
</script>
<style>
.has-notifications {
    color: red;
}
</style>