<template>
    <div class="box">
        <h2 class="title">Столбцы</h2>
        <div class="columns">
            <div class="column is-half">
                <h3 class="has-text-centered">Доступные стоблцы</h3>
            </div>
            <div class="column is-half">
                <h3 class="has-text-centered">Выбранные стоблцы</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half" style="border-right: 2px solid rgba(0, 209, 178, 0.25); max-height: 500px; overflow-y: auto;">
                <div class="field is-grouped" v-for="column in columns" :key="column.id">
                    <div class="control">
                        <a class="button is-outlined" @click="addColumn(column)">
                            <span>
                                {{ column.label }}
                            </span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="column is-half">
                <div class="field is-grouped" v-for="column in selectedColumns" :key="column.id">
                    <div class="control">
                        <a class="button is-outlined" @click="removeColumn(column)" @mouseover="upHere[column.name] = true" @mouseleave="upHere[column.name] = false">
                            <span>
                                {{ column.label }}
                            </span>
                            <span class="icon" v-if="upHere[column.name]">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            upHere: {}
        }
    },
    props: ['data'],
    computed: {
        ...mapGetters([
            'columns', 'selectedColumns'
        ]),
    },
    methods: {
        ...mapActions({
            addColumn: 'addColumn',
            removeColumn: 'removeColumn',
        })
    },
    watch: {
        selectedColumns: function() {
            let upHere = {}
            this.selectedColumns.forEach((key) => {
                upHere[key.name] = false
            })
            this.upHere = upHere
        }
    }
}
</script>