<template>
    <div class="box">
        <h2 class="title">Экспорт отчета</h2>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Тип файла</label>
                    <div class="control">
                        <div class="select">
                            <select v-model="type">
                                <option value="">Выберите тип файла</option>
                                <option value="pdf">PDF</option>
                                <option value="xls">Excel</option>
                            </select>
                        </div>
                    </div>
                    <p class="help is-danger" v-if="type === ''">Тип файла обязателен</p>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" :class="{
                                   'is-loading': isSubmitted }" @click="submit">
                            Экспорт
                        </button>
                    </div>
                </div>
                <div class="field is-grouped" v-if="file_url">
                    <div class="control">
                        <a class="button is-primary" :href="file_url">
                            <span class="icon">
                                <i class="fa fa-file"></i>
                            </span>
                            <span>Скачать</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            isSubmitted: false,
            type: '',
            rows: [],
            columns: [],
            form_type: '',
            file_url: '',
        };
    },
    created: function() {
        this.form_type = this.data.form_type
    },
    props: ['data'],
    computed: {
        ...mapGetters([
            'response', 'filteredResponse', 'selectedColumns', 'sortKey', 'filterKey', 'order'
        ])
    },
    methods: {
        submit() {
            this.isSubmitted = true
            axios({
                method: 'post',
                url: '/api/reports',
                responseType: 'blob',
                data: {
                    type: this.type,
                    rows: this.filteredResponse(this.sortKey, this.order, this.filterKey),
                    columns: this.selectedColumns,
                    form_type: this.form_type
                }
            }).then(response => {
                let header = response.headers
                let blob = new Blob([response.data], { type: header['content-type'] })
                let filename = (header['content-disposition'] || '').split('filename=')[1];
                var result = document.createElement('a');
                result.href = window.URL.createObjectURL(blob);
                result.download = filename.replace(/"/g, "");
                result.click()
                this.isSubmitted = false;
            }).catch((error) => {
                this.isSubmitted = false
            })
        },
    },
}
</script>