<template>
    <div class="box">
        <h2 class="title">Фильтры</h2>
        <div class="columns">
            <div class="column is-half">
                <h3 class="has-text-centered">Доступные фильтры</h3>
            </div>
            <div class="column is-half">
                <h3 class="has-text-centered">Выбранные фильтры</h3>
            </div>
        </div>
        <div class="columns">
            <div class="column is-half" style="border-right: 2px solid rgba(0, 209, 178, 0.25); max-height: 500px; overflow-y: auto;">
                <div class="field is-grouped" v-for="filter in filters" :key="filter.id">
                    <div class="control">
                        <a class="button is-outlined" @click="addFilter(filter)">
                            <span>
                                {{ filter.label }}
                            </span>
                        </a>
                    </div>
                </div>

            </div>
            <div class="column is-half">
                <div class="field is-grouped" v-for="filter in selectedFilters" :key="filter.id">
                    <div class="control">
                        <a class="button is-outlined" @click="removeFilter(filter)" @mouseover="upHere[filter.name] = true" @mouseleave="upHere[filter.name] = false">
                            <span>
                                {{ filter.label }}
                            </span>
                            <span class="icon" v-if="upHere[filter.name]">
                                <i class="fa fa-trash"></i>
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            upHere: {}
        }
    },
    props: ['data'],
    computed: {
        ...mapGetters([
            'filters', 'selectedFilters'
        ]),
    },
    methods: {
        ...mapActions({
            addFilter: 'addFilter',
            removeFilter: 'removeFilter',
        }),
    },
    watch: {
        selectedFilters: function() {
            let upHere = {}
            this.selectedFilters.forEach((key) => {
                upHere[key.name] = false
            })
            this.upHere = upHere
        }
    }
}
</script>