<template>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <h2 class="title">{{ title }} </h2>
            </div>
            <div class="column">
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <button class="button is-info " @click="openModal('filters')">Добавить фильтр
                        </button>
                    </div>
                    <div class="control" v-if="this.selectedFilters.length > 0">
                        <button class="button is-success" @click="openModal('save')">Сохранить отчёт
                        </button>
                    </div>
                    <div class="control" v-if="this.$route.query.id">
                        <button class="button is-danger" :class="{ 'is-loading' : isDeleting }" @click="deleteShortcut">Удалить
                        </button>
                    </div>
                    <div class="control">
                        <button class="button is-primary" @click="openModal('export')">Экспорт
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <loader v-if="isLoading"></loader>
            <div v-if="!isLoading">
                <div class="columns" v-for="( filter, index)  in filters" :key="index" @mouseover="upHere[filter.name] = true" @mouseleave="upHere[filter.name] = false">
                    <div class="column">
                        <div class="field is-grouped">
                            <div class="control">
                                {{ index + 1 }}.
                                <a class="button is-info is-small" @click="openModal">
                                    {{ filter.label }}
                                </a>
                            </div>
                            <div class="control">
                                <div class="select is-small is-info">
                                    <select v-model="filter.operator">
                                        <template v-if="filter.type =='date'">
                                            <option value="">Выберите условие</option>
                                            <option value="is_blank">пустой</option>
                                            <option value="equals">равен</option>
                                            <option value="less_than">до</option>
                                            <option value="greater_than">после</option>
                                        </template>
                                        <template v-if="filter.type =='text' || filter.type =='textarea' || filter.type === 'select'">
                                            <option value="">Выберите условие</option>
                                            <option value="is_blank">пустой</option>
                                            <option value="starts_with">начинается с</option>
                                            <option value="contains">содержит</option>
                                            <option value="does_not_contain">не содержит</option>
                                            <!--<option value="includes_any">includes any</option>-->
                                            <!--<option value="does_not_include">does not include</option>-->
                                        </template>
                                        <template v-if="filter.type =='number'">
                                            <option value="">Выберите условие</option>
                                            <option value="is_blank">пустой</option>
                                            <option value="equals">равен</option>
                                            <option value="does_not_equal">не равен</option>
                                            <option value="greater_than">больше чем</option>
                                            <option value="less_than">меньше чем</option>
                                        </template>
                                    </select>

                                </div>
                            </div>
                            <p class="control">
                                <input v-if="filter.type !== 'date'" class="input is-small is-info" type="text" placeholder="" v-model="filter.value">
                                <datepicker v-else v-model="filter.value"></datepicker>

                            </p>
                            <p class="control" v-if="upHere[filter.name]">
                                <a class="button is-small is-danger" @click="removeFilter(filter)">
                                    <span class="icon is-small">
                                        <i class="fa fa-times"></i>
                                    </span>
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="columns" v-if="filters.length > 0">
                    <div class="column">
                        <a class="button" @click="getResults">Получить результаты</a>
                    </div>
                </div>
                <grid :url="url" delete_url="api/submissions" :child="child" :defaultColumns="defaultColumns" :defaultFilters="defaultFilters"></grid>
            </div>
        </div>
        <modal></modal>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import grid from '../../components/table.vue'
import Datepicker from 'vuejs-datepicker';


export default {
    metaInfo: {
        titleTemplate: 'Отчёты | %s'
    },
    components: {
        grid, Datepicker

    },
    data() {
        return {
            fields: [],
            child: 'submission',
            defaultColumns: [],
            defaultFilters: [],
            upHere: {},
            title: '',
            isLoading: false,
            form_type: '',
            url: '',
            isDeleting: false,
        }
    },
    created() {
        if (this.$route.query.id) {
            this.fetchFilters();
        } else {
            this.form_type = this.$route.query.type
            this.title = 'Отчёты (' + this.form_type + ')';
            this.setSelectedFilters([]);
            this.defaultColumns = [];
            this.url = '/api/submissions?type=' + this.$route.query.type + '&format=table'
        }
    },
    computed: {
        filters: function() {
            return this.selectedFilters.slice()
        },
        ...mapGetters([
            'response', 'columns', 'selectedFilters'
        ]),
    },
    methods: {
        ...mapActions({
            getData: 'getData',
            setFilters: 'setFilters',
            addFilter: 'addFilter',
            removeFilter: 'removeFilter',
            setSelectedFilters: 'setSelectedFilters',
            setSelectedColumns: 'setSelectedColumns',
            updateSidebar: 'updateSidebar'
        }),
        openModal: function(type) {
            if (type === 'filters') {
                let filters = this.columns.reduce((array, item) => {
                    if (item.type === 'date') {
                        item.operator = '';
                        item.value = new Date();
                        array.push(item)
                    } else if (item.type !== 'file') {
                        item.operator = '';
                        item.value = '';
                        array.push(item)
                    }
                    return array
                }, []);
                this.setFilters(filters)
                this.EventBus.$emit('open-modal');
                this.EventBus.$emit('set-modal-data', {}, 'Filters');
            } else if (type === 'save') {
                this.EventBus.$emit('open-modal');
                this.EventBus.$emit('set-modal-data', { form_type: this.form_type }, 'Shortcuts');
            } else if (type === 'export') {
                this.EventBus.$emit('open-modal');
                this.EventBus.$emit('set-modal-data', { form_type: this.form_type }, 'Export');
            }
        },
        getResults() {
            this.setSelectedFilters(this.filters)
        },
        getParams: function() {
            let params = new URLSearchParams();
            params.append('limit', this.limit);
            params.append('page', this.curr_page);

            let filters = this.selectedFilters.filter((item) => {
                return item.operator !== ''
            });
            if (filters.length > 0) {
                params.append('fields', JSON.stringify(filters))
            }
            return params
        },
        fetchFilters: function() {
            this.isLoading = true;
            this.getData({
                url: '/api/shortcuts/' + this.$route.query.id,
                params: ''
            }).then(() => {
                this.title = this.response.name
                this.form_type = this.response.form.type
                this.url = '/api/submissions?type=' + this.response.form.type + '&format=table'
                let columns = [], filters = [];
                for (let i = 0; i < this.response.filters.length; i++) {
                    let column = this.getColumn(this.response.filters[i])
                    columns.push(column)
                    column.operator = this.response.filters[i].operator,
                        column.value = this.response.filters[i].value,
                        filters.push(column)
                }
                this.defaultColumns = columns;
                this.setSelectedFilters(filters)
                this.isLoading = false;
            })
        },
        capitalizeFirstChar: function(string) {
            return string.charAt(0).toUpperCase() + string.substring(1)
        },
        getColumn: function(column) {
            let label, name, type;
            if (column.field_id === 'email') {
                label = 'Author';
                name = 'author';
                type = 'text'
            } else if (column.field_id === 'id') {
                label = 'Id';
                name = 'id';
                type = 'number'
            } else if (column.field_id === 'submitted_at') {
                label = 'Date';
                name = 'date';
                type = 'date'
            } else if (column.field_id === 'status') {
                label = 'Status';
                name = 'status';
                type = 'text'
            } else {
                label = this.capitalizeFirstChar(column.field.name);
                name = column.field.name;
                type = column.field.type;
            }
            return {
                field_id: column.field_id,
                label: label,
                name: name,
                type: type,
            }
        },
        deleteShortcut: function() {
            this.isDeleting = true;
            axios.delete('api/shortcuts/' + this.$route.query.id)
                .then((response) => {
                    this.isDeleting = false;
                    this.updateSidebar(this.$route.query.id)
                    this.$router.push({ path: 'reports', query: { type: this.form_type } })
                })
        }
    },
    watch: {
        filters: function() {
            let upHere = {}
            this.filters.forEach((key) => {
                upHere[key.name] = false
            })
            this.upHere = upHere
        },
        $route: function() {
            if (this.$route.query.id) {
                this.fetchFilters();
            } else {
                this.form_type = this.$route.query.type
                this.title = 'Reports (' + this.form_type + ')';
                this.setSelectedFilters([]);
                this.defaultColumns = [];
                this.url = '/api/submissions?type=' + this.$route.query.type + '&format=table'
            }

        }
    }
};
</script>

