<template>
    <div class="box">
        <h2 class="title">Сохранить отчёт</h2>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Название</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Название отчета" v-model="form.name">
                    </div>
                    <p class="help is-danger" v-if="form.errors.has('name')">{{ form.errors.get('name') }}</p>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" :class="{
                                   'is-loading': isSubmitted }" @click="submit">
                            Сохранить   
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            isSubmitted: false,
            form: new Form({
                name: '',
                fields: '',
                form_type: '',
            }),
        }
    },
    props: ['data'],
    computed: {
        ...mapGetters([
            'response', 'selectedFilters'
        ])
    },
    methods: {
        ...mapActions({
            fetchShortcuts: 'fetchShortcuts'
        }),
        submit() {
            this.isSubmitted = true
            this.form.form_type = this.data.form_type
            this.form.fields = this.selectedFilters;
            this.form.post('/api/shortcuts')
                .then(response => {
                    this.isSubmitted = false;
                    this.fetchShortcuts()
                    alert('Отчёт добавлен')
                    this.EventBus.$emit('close-modal');

                }).catch(() => {
                    this.isSubmitted = false
                })
        },
    },
}
</script>