<template>
    <div id="auth">
        <div class="columns">
            <div class="column">
                <h2 class="title has-text-centered">{{ title }} </h2>
            </div>
        </div>
        <div class="columns">
            <div class="column is-3 is-offset-4">
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <a class="button is-outlined" :href="blogUrl">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    Вернуться на Angelinvestors</a>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'confirm',
        metaInfo: {title: 'Подтвердить емайл'},
        layout: 'default',
        data() {
            return {
                title: 'Подтвердить емайл',
                isLoading: false,
                url: '',
                blogUrl : config.blogUrl
            };
        },
        created(){
            if(this.$route.query.token) {
                axios.get('/api/confirm/' + this.$route.query.token)
                    .then((response)=>{
                        alert('Емайл подтвержден!')
                        this.$store.dispatch('saveToken', {
                            token: response.data.token,
                        })
                        this.$store.dispatch('fetchUser').then(() => {
                            this.$router.push({name: 'home'})
                        })
                    })
                    .catch((error)=>{
                        console.warn(error)
                    })
            }
        },
    }
</script>
<style>
    #auth {
        padding-top: 50px;
    }
    .facebook {
        background-color: #3b5998 !important;
    }
    .google {
        background-color: #d9534f !important;
    }
    .vk {
        background-color: #4c75a3 !important;
    }
</style>
