<template>
    <div id="auth">
        <div class="columns">
            <div class="column">
                <h2 class="title has-text-centered">{{ title }} </h2>
            </div>

        </div>
        <div class="columns">
            <div class="column is-3 is-offset-3">
                <form method="POST" @submit.prevent="login">
                    <div class="field">
                        <label class="label">Емайл </label>
                        <p class="control has-icons-left">
                            <input class="input" type="email" placeholder="Емайл" v-model="form.email">
                            <span class="icon is-small is-left">
                                <i class="fa fa-envelope"></i>
                            </span>
                        </p>
                        <p class="help is-danger" v-if="form.errors.has('email')">{{ form.errors.get('email') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Пароль </label>
                        <p class="control">
                            <input class="input" type="password" placeholder="Пароль" v-model="form.password">
                        </p>
                        <p class="help is-danger" v-if="form.errors.has('password')">{{ form.errors.get('password') }}</p>
                    </div>
                    <div class="field">
                        <p class="control">
                            <button class="button is-primary" :class="{
                                       'is-loading' : isLoading }" type="submit">
                                Войти
                            </button>
                        </p>
                    </div>
                </form>
            </div>
            <div class="column is-3">
                <div class="columns">
                    <div class="column">
                        <a class="button is-fullwidth is-primary facebook" @click="getUrl('facebook')">
                            <span class="icon">
                                <i class="fa fa-facebook-square"></i>
                            </span>
                            <span>Войти через Фейсбук</span>
                        </a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <a class="button is-fullwidth is-primary google" @click="getUrl('google')">
                            <span class="icon">
                                <i class="fa fa-google-plus"></i>
                            </span>
                            <span>Войти через Google</span>
                        </a>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <a class="button is-fullwidth is-primary vk" @click="getUrl('vkontakte')">
                            <span class="icon">
                                <i class="fa fa-vk"></i>
                            </span>
                            <span>Войти через VK</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <h5>Не зарегистрированы?
                    <router-link :to="{ name: 'auth.register' }">Регистрация
                    </router-link>
                </h5>
                <h5>
                    <router-link :to="{ name: 'password_email' }">
                        Забыли пароль?
                    </router-link>
                </h5>
            </div>
        </div>
        <div class="columns">
            <div class="column has-text-centered">
                <a class="button is-outlined" :href="blogUrl">
                    <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                    Вернуться на Angelinvestors</a>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'login',
    metaInfo: { title: 'Войти' },
    layout: 'default',
    data() {
        return {
            title: 'Войти',
            isLoading: false,
            form: new Form({
                email: '',
                password: '',
            }),
            url: '',
            blogUrl: config.blogUrl
        };
    },
    created() {
        if (this.$route.query.provider) {
            axios.get('/api/auth/' + this.$route.query.provider + '/callback',
                { params: { code: this.$route.query.code } })
                .then((response) => {
                    this.$store.dispatch('saveToken', {
                        token: response.data.token,
                    })
                    this.$store.dispatch('fetchUser').then(() => {
                        this.$router.push({ name: 'home' })
                    })
                })
                .catch((error) => {
                    console.warn(error)
                })
        }
    },
    methods: {
        login() {
            this.isLoading = true;
            this.form.post('/api/login')
                .then(response => {
                    this.isLoading = false;
                    this.$store.dispatch('saveToken', {
                        token: response.token,
                    })
                    this.$store.dispatch('fetchUser').then(() => {
                        this.$router.push({ name: 'home' })
                    })
                })
                .catch(error => {
                    this.isLoading = false;
                    console.error(error);
                })
        },
        getUrl(provider) {
            axios.get('/api/auth/' + provider)
                .then((response) => {
                    this.url = response.data.url
                    window.location.href = this.url
                }).catch((error) => {
                    console.warn(error)
                })
        }
    },
}
</script>
<style>
#auth {
    padding-top: 50px;
}

.facebook {
    background-color: #3b5998 !important;
}

.google {
    background-color: #d9534f !important;
}

.vk {
    background-color: #4c75a3 !important;
}
</style>
