<template>
    <div id="auth">
        <template v-if="!isSuccess">
            <div class="columns">
                <div class="column">
                    <h2 class="title has-text-centered">{{ title }} </h2>
                </div>
            </div>
            <div class="columns">
                <div class="column is-3 is-offset-3">
                    <form method="POST" @submit.prevent="register">
                        <div class="field">
                            <label class="label">Емайл </label>
                            <p class="control has-icons-left">
                                <input class="input" type="email" placeholder="Емайл" v-model="form.email">
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                            </p>
                            <p class="help is-danger" v-if="form.errors.has('email')">{{ form.errors.get('email') }}</p>

                        </div>

                        <div class="field">
                            <label class="label">Пароль (мин. 6 символов)</label>
                            <p class="control">
                                <input class="input" type="password" placeholder="Пароль" v-model="form.password">
                            </p>
                            <p class="help is-danger" v-if="form.errors.has('password')">{{ form.errors.get('password') }}</p>

                        </div>
                        <div class="field">
                            <label class="label">Роль</label>
                            <div class="control">
                                <div class="select">
                                    <select v-model="form.role">
                                        <option selected value="">Выберите роль</option>
                                        <option value="investor">Инвестор</option>
                                        <option value="startup">Стартап</option>
                                    </select>
                                </div>
                            </div>
                            <p class="help is-danger" v-if="form.errors.has('role')">{{ form.errors.get('role') }}</p>
                        </div>

                        <div class="field">
                            <p class="control">
                                <button class="button is-primary" :class="{
                                                   'is-loading' : isLoading }" type="submit">
                                    Готово
                                </button>
                            </p>
                        </div>
                    </form>
                </div>
                <div class="column is-3">
                    <div class="columns">
                        <div class="column">
                            <a class="button is-fullwidth is-primary facebook" @click="getUrl('facebook')">
                                <span class="icon">
                                    <i class="fa fa-facebook-square"></i>
                                </span>
                                <span>Регистрация через Facebook</span>
                            </a>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <a class="button is-fullwidth is-primary google" @click="getUrl('google')">
                                <span class="icon">
                                    <i class="fa fa-google-plus"></i>
                                </span>
                                <span>Регистрация через Google</span>
                            </a>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column">
                            <a class="button is-fullwidth is-primary vk" @click="getUrl('vkontakte')">
                                <span class="icon">
                                    <i class="fa fa-vk"></i>
                                </span>
                                <span>Регистрация через VK</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column has-text-centered">
                    <h5>Уже зарегистрированы?
                        <router-link :to="{ name: 'auth.login' }">Войти
                        </router-link>
                    </h5>
                    <h5>
                        <router-link :to="{ name: 'password_email' }">
                            Забыли пароль?
                        </router-link>
                    </h5>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-centered">
                    <a class="button is-outlined" :href="blogUrl">
                        <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        Вернуться на Angelinvestors.kz</a>
                </div>
            </div>
        </template>
        <div class="columns" v-if="isSuccess">
            <div class="column is-4 is-offset-4">
                <div class="notification is-success has-text-centered">
                    <button class="delete" @click="isSuccess = false"></button>
                    Регистрация прошла успешна!<br> Вы будете перенаправлены в личный кабинет
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'register',
    metaInfo: { title: 'Регистрация' },
    layout: 'default',
    data() {
        return {
            title: 'Регистрация',
            isLoading: false,
            form: new Form({
                email: '',
                password: '',
                role: '',
            }),
            url: '',
            blogUrl: config.blogUrl,
            isSuccess: false
        };
    },
    created() {
        if (this.$route.query.provider) {
            axios.get('/api/auth/' + this.$route.query.provider + '/callback',
                { params: { code: this.$route.query.code } })
                .then((response) => {
                    this.$store.dispatch('saveToken', {
                        token: response.data.token,
                    })
                    this.$store.dispatch('fetchUser').then(() => {
                        this.$router.push({ name: 'home' })
                    })
                })
                .catch((error) => {
                    console.warn(error)
                })
        }
    },
    methods: {
        register() {
            this.isLoading = true;
            this.form.post('/api/register')
                .then(response => {
                    this.isLoading = false
                    this.isSuccess = true
                    setTimeout(() => { this.login() }, 2000);
                })
                .catch(error => {
                    this.isLoading = false
                })
        },
        login() {
            this.form.post('/api/login')
                .then(response => {
                    this.$store.dispatch('saveToken', {
                        token: response.token,
                    })
                    this.$store.dispatch('fetchUser').then(() => {
                        this.$router.push({ name: 'home' })
                    })
                })
                .catch(error => {
                    console.log(error);
                })
        },
        getUrl(provider) {
            axios.get('/api/auth/' + provider)
                .then((response) => {
                    this.url = response.data.url
                    window.location.href = this.url
                }).catch((error) => {
                    console.warn(error)
                })
        }

    }
}
</script>
<style>
#auth {
    padding-top: 50px;
}

.facebook {
    background-color: #3b5998 !important;
}

.google {
    background-color: #d9534f !important;
}

.vk {
    background-color: #4c75a3 !important;
}
</style>
