<template>
    <div class="container is-fluid">
        <loader v-if="isLoading"></loader>
        <div v-if="!isLoading">
            <div class="columns">
                <div class="column">
                    <h2 class="title">{{ title }} </h2>
                </div>
            </div>
            <div class="columns">
                <div class="column is-8">
                    <div class="field">
                        <label class="label">Емайл</label>
                        <div class="control">
                            <p>{{ form.email }} </p>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Роль</label>
                        <div class="control">
                            <div class="select">
                                <select v-model="form.role">
                                    <option value="startup">Стартап </option>
                                    <option value="investor">Инвестор </option>
                                    <option value="admin">Админ </option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('role')">{{ form.errors.get('role') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Статус</label>
                        <div class="control">
                            <div class="select">
                                <select v-model="form.status">
                                    <option value="1">Активный</option>
                                    <option value="0">Неактивный </option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('status')">{{ form.errors.get('status') }}</p>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" v-if="$route.query.id" :class="{
                                       'is-loading': isSubmitted }" @click="update">Сохранить изменения
                            </button>
                        </div>
                        <div class="control" v-if="$route.query.id">
                            <button class="button is-danger" :class="{
                                       'is-loading': isDeleted }" @click="deleteEvent">Удалить
                            </button>
                        </div>
                        <div class="control">
                            <button class="button is-link" @click="$router.go(-1)">Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'user',
    metaInfo: { title: 'Пользователь' },
    data() {
        return {
            title: 'Пользователь',
            isLoading: false,
            isSubmitted: false,
            isDeleted: false,
            form: new Form({
                email: '',
                role: '',
                status: '',
            }),
        }
    },
    computed: {
        ...mapGetters([
            'response',
        ])
    },
    created() {
        if (this.$route.query.id) {
            this.isLoading = true;
            this.getData({
                url: '/api/users/' + this.$route.query.id,
                params: {
                    limit: '',
                    page: ''
                }
            }).then(() => {
                this.form.email = this.response.email
                this.form.role = this.response.role
                this.form.status = this.response.status
                this.isLoading = false
            })
        }
    },
    methods: {
        ...mapActions({
            getData: 'getData',
        }),
        update() {
            this.isSubmitted = true
            this.form.put('/api/users/' + this.$route.query.id)
                .then(response => {
                    this.isSubmitted = false;
                    alert('Пользователь обновлён')
                }).catch(() => {
                    this.isSubmitted = false
                })
        },
        deleteEvent() {
            this.isDeleted = true
            axios.delete('/api/users', {
                params:
                { ids: this.response.id }
            })
                .then(response => {
                    this.isDeleted = false
                    alert('User is deleted')
                    this.$router.go(-1)
                })
                .catch(() => {
                    this.isDeleted = false
                })
        },
    },
    watch: {
        $route() {
            if (this.$route.query.id) {
                this.isLoading = true;
                this.getData({
                    url: '/api/users/' + this.$route.query.id,
                    params: {
                        limit: '',
                        page: ''
                    }
                }).then(() => {
                    this.form.email = this.response.email
                    this.form.role = this.response.role
                    this.form.status = this.response.status
                    this.isLoading = false
                })
            }
        }
    }
}

</script>