<template>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <h2 class="title">{{ title }} </h2>
            </div>
        </div>
        <grid v-bind:url="url" :defaultColumns="columns" delete_url="/api/users"
              :child="child" :defaultFilters="defaultFilters"></grid>
        <modal></modal>
    </div>
</template>

<script>
    import grid from '../../components/table.vue'

    export default {
        metaInfo: {
            titleTemplate: 'Пользователи | %s'
        },
        components : {
            grid
        },
        data() {
            return {
                fields : [],
                columns : [
                    { label: 'Емайл', name: 'email' },
                    { label: 'Роль', name: 'role' },
                    { label: 'Зарегистрированный', name: 'created_at' },
                    { label: 'Статус', name: 'status' },
                ],
                defaultFilters : [],
                title : 'Пользователи',
                child: 'user'
            }
        },
        computed: {
            url : function () {
                return '/api/users/'
            }
        },
    }
</script>

