<template>
    <div class="box">
        <h2 class="title">Причина изменения статуса</h2>
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Причина</label>
                    <div class="control">
                        <textarea class="textarea" v-model="reason"></textarea>
                    </div>
                </div>
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" :class="{'is-loading': isSubmitted }" @click="submit">
                            Готово
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    data() {
        return {
            isSubmitted: false,
            id: '',
            status: '',
            reason: '',
        };
    },
    created: function() {
        this.id = this.data.id
        this.status = this.data.status
    },
    props: ['data'],
    methods: {
        submit() {
            this.isSubmitted = true
            axios.put('api/submissions/' + this.id, { status: this.status, reason: this.reason })
                .then((response) => {
                    this.EventBus.$emit('close-modal');
                    this.isSubmitted = false
                    this.reason = ''
                }).catch((error) => {
                    this.EventBus.$emit('close-modal');
                    this.isSubmitted = false
                })
        },
    },
    watch: {
        data() {
            this.id = this.data.id
            this.status = this.data.status
        }
    }
}
</script>