<template>
    <div class="container is-fluid">
        <loader v-if="isLoading"></loader>
        <div v-if="!isLoading">
            <div class="columns">
                <div class="column">
                    <a href="" class="button is-primary" @click.prevent="$router.go(-1)">Назад</a>
                </div>
                <div class="column" v-if="this.authUser.role === 'admin'">
                    <div class="field is-grouped is-pulled-right">
                        <div class="control">
                            <button class="button is-success" :class="{'is-loading': isSubmitted }" @click="changeStatus('accepted')">Принять
                            </button>
                        </div>
                        <div class="control">
                            <button class="button is-danger" @click="openModal('rejected')">Отказать
                            </button>
                        </div>
                        <div class="control">
                            <button class="button is-warning" @click="openModal('pending')">Ожидает решения
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <h2 class="title">{{ title }}
                        <span class="tag is-warning is-medium" v-if="response.status == 'pending'">Ожидает решения</span>
                        <span class="tag is-success is-medium" v-if="response.status == 'accepted'">Принята</span>
                        <span class="tag is-danger is-medium" v-if="response.status == 'rejected'">Отказано</span>
                    </h2>
                </div>
            </div>

            <div class="columns">
                <div class="column is-8">
                    <div class="field" v-for="(field, index) in response.values" :key="field.id">
                        <label class="label">{{index + 1}}. {{ field.field.name }}</label>
                        <div class="control">
                            <p v-if="field.field.type === 'file'">
                                <a class="button is-primary" :href="field.file_url">
                                    <span class="icon">
                                        <i class="fa fa-file"></i>
                                    </span>
                                    <span>Скачать</span>
                                </a>
                            </p>
                            <p v-else-if="field.field.type === 'select'">
                                {{ getSelectValue(field) }}
                            </p>
                            <p v-else>
                                {{ field.value }}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <modal></modal>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'field',
    metaInfo: { title: 'Поле' },
    data() {
        return {
            title: '',
            isLoading: false,
            isSubmitted: false,
        }
    },
    computed: {
        ...mapGetters([
            'response',
            'authUser'
        ])
    },
    created() {
        if (this.$route.query.id)
            this.fetchData()
        this.EventBus.$on('close-modal', () => {
            this.fetchData()
        })
    },
    methods: {
        ...mapActions({
            getData: 'getData',
        }),
        getSelectValue(field) {
            let selectValue = field.field.values.filter((item) => {
                return item.id === parseInt(field.value)
            })
            if (selectValue.length > 0)
                return selectValue[0].value
        },
        changeStatus(status) {
            this.isSubmitted = true
            axios.put('api/submissions/' + this.response.id, { status: status })
                .then((response) => {
                    this.isSubmitted = false;
                    this.fetchData()
                })
        },
        fetchData() {
            this.isLoading = true;
            this.getData({
                url: '/api/submissions/' + this.$route.query.id,
                params: {
                    limit: '',
                    page: ''
                }
            }).then(() => {
                this.title = 'Заявка #' + this.response.id
                this.isLoading = false
            })
        },
        openModal: function(status) {
            this.EventBus.$emit('open-modal');
            this.EventBus.$emit('set-modal-data', { id: this.$route.query.id, status: status }, 'Reason');
        },
    }
}

</script>