<template>
    <div class="container is-fluid" id="auth">
        <loader v-if="isLoading"></loader>
        <div v-if="!isLoading">
            <template v-if="!isIntroduced">
                <div class="columns">
                    <div class="column has-text-centered">
                        <h4>
                            {{ introductionMessage }}
                        </h4>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="control has-text-centered">
                            <button class="button is-primary" @click="isIntroduced = true">
                                Дальше
                            </button>
                        </div>
                    </div>
                </div>
            </template>
            <template v-if="!isSubmitted && isIntroduced">
                <div class="columns">
                    <div class="column">
                        <h2 class="title has-text-centered">{{ title || capitalize }} </h2>
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-8 is-offset-2">
                        <form method="POST" @submit.prevent="submit">
                            <div class="field" v-for="(data, index) in response.data" :key="data.id">
                                <label class="label">{{index + 1}}. {{ data.name }} </label>
                                <div class="control">
                                    <template v-if="data.type == 'text'">
                                        <div class="columns">
                                            <div class="column is-6">
                                                <input class="input" type="text" v-model="form[data.uuid]">
                                            </div>
                                        </div>
                                    </template>
                                    <template v-else-if="data.type == 'number'">
                                        <div class="columns">
                                            <div class="column is-6">
                                                <input class="input" type="number" v-model="form[data.uuid]">
                                            </div>
                                        </div>
                                    </template>
                                    <template v-else-if="data.type == 'file'">
                                        <dropzone :id="data.uuid" :ref="data.uuid" url="/api/submissions/file" :acceptedFileTypes="getFileType(data.values)" :showRemoveLink="true" :maxFileSizeInMB="5" :useFontAwesome="true" :maxNumberOfFiles="1" v-on:vdropzone-success="showSuccess" v-on:vdropzone-error="showError" :language="language">
                                            <input type="hidden" name="uuid" :value="data.uuid">
                                        </dropzone>
                                        <p class="help is-danger">Формат файла: {{ data.values[0].value }}</p>
                                    </template>
                                    <template v-else-if="data.type == 'select'">
                                        <div class="select">
                                            <select v-model="form[data.uuid]">
                                                <option :value="value.id" v-for="value in data.values" :key="value.id">{{ value.value }}</option>
                                            </select>
                                        </div>
                                    </template>
                                    <template v-else-if="data.type == 'textarea'">
                                        <textarea class="textarea" v-model="form[data.uuid]"></textarea>
                                    </template>
                                </div>
                                <p class="help">{{ data.description }}</p>
                                <p class="help is-danger" v-if="form.errors.has(data.uuid)">{{ data.name }} поле обязательно для заполнения</p>
                            </div>
                            <div class="field is-grouped">
                                <div class="control">
                                    <button class="button is-primary" :class="{
                                                                   'is-loading': isSubmitted }">Готово
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </template>
            <template v-if="isSubmitted">
                <div class="columns">
                    <div class="column has-text-centered">
                        <h4>
                            {{ confirmationMessage }}
                        </h4>
                    </div>
                </div>
                <div class="columns">
                    <div class="column">
                        <div class="control has-text-centered">
                            <button class="button is-primary" @click="isSubmitted = false ">
                                Заполнить ещё раз
                            </button>
                        </div>
                    </div>
                </div>
            </template>
        </div>
    </div>
</template>
<script>
import Dropzone from 'vue2-dropzone'
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'forms',
    metaInfo: { title: 'Форма' },
    components: {
        Dropzone
    },
    data() {
        return {
            title: 'Форма',
            isLoading: false,
            isSubmitted: false,
            isIntroduced: false,
            form: new Form(),
            uploadedFiles: {},
            error: false,
            confirmationMessage: '',
            introductionMessage: '',
            language: {
                 dictDefaultMessage : 'Нажмите для выбора файлов'
            }
        };
    },
    created() {
        this.isLoading = true;
        this.getData({
            url: '/api/forms/' + this.$route.query.type + '/fields',
            params: {
                limit: 100,
                page: 1
            }
        }).then(() => {
            this.setFormFields();
            this.fetchMessage();
            this.title = this.getTitle(this.$route.query.type)
            this.isLoading = false
        })

    },
    computed: {
        ...mapGetters([
            'response'
        ]),

    },
    mounted() {
        this.$watch('error', function() {
            if (this.error) {
                this.addFiles()
            }
        });
    },
    methods: {
        ...mapActions({
            getData: 'getData',
        }),
        getTitle(string) {
            if(string  == 'investor')
                return 'Заявка инвестора'
            else 
                return 'Заявка стартапа'
        },
        setFormFields() {
            var rv = {};
            for (var i = 0; i < this.response.data.length; ++i) {
                rv[this.response.data[i].uuid] = '';
            }
            this.form = new Form(rv)
        },
        submit() {
            this.isSubmitted = false;
            this.isLoading = true;
            this.error = false
            this.form.post('/api/submissions')
                .then(response => {
                    this.isLoading = false;
                    this.error = false
                    this.isSubmitted = true
                })
                .catch(error => {
                    this.isLoading = false
                    this.error = true
                })
        },
        showSuccess: function(file, response) {
            this.form[response.uuid] = response.path
            this.uploadedFiles[response.uuid] = response
        },
        showError: function(file) {
        },
        addFiles: function() {
            let uuids = this.response.data.filter(function(field) {
                if (field.type === 'file') {
                    return true
                }
            });
            for (var i = 0; i < uuids.length; i++) {
                if (this.uploadedFiles.hasOwnProperty(uuids[i].uuid)) {
                    this.$refs[uuids[i].uuid][0].manuallyAddFile(
                        {
                            name: this.uploadedFiles[uuids[i].uuid].filename,
                            size: this.uploadedFiles[uuids[i].uuid].size
                        },
                        null,
                        null,
                        null,
                        {
                            dontSubstractMaxFiles: true,
                            addToFiles: true
                        }
                    )
                }

            }
        },
        getFileType: function(value) {
            let type = value[0].value;
            if (type === 'pdf')
                return 'application/pdf';
            else if (type === 'powerpoint')
                return '.ppt, .pptx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.openxmlformats-officedocument.presentationml.presentation';
            else if (type === 'word')
                return '.docx,.doc, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document';
            else if (type === 'image')
                return 'image/*';
            else if (type === 'excel')
                return '.xls, .xlsx, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
        },
        fetchMessage: function() {
            axios.get('/api/messages', {
                params: {
                    type: this.$route.query.type
                }
            }).then((response) => {
                for (let i = 0; i < response.data.length; i++) {
                    if (response.data[i].type == 'confirmation') {
                        this.confirmationMessage = response.data[i].message
                    } else {
                        this.introductionMessage = response.data[i].message
                    }
                }
            })
        }
    }
}
</script>
<style>
#auth {
    padding-top: 50px;
    padding-bottom: 50px
}
</style>
<style>

</style>
