<template>
    <div class="container is-fluid">
        <loader v-if="isLoading"></loader>
        <div v-if="!isLoading">
            <div class="columns">
                <div class="column">
                    <h2 class="title">{{ title }} </h2>
                </div>
            </div>
            <div class="columns">
                <div class="column is-8">
                    <div class="field">
                        <label class="label">Название поля</label>
                        <div class="control">
                            <div class="columns">
                                <div class="column is-6">
                                    <input class="input" type="text" placeholder="Название поля" v-model="form.name">
                                </div>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('name')">{{ form.errors.get('name') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Тип поля</label>
                        <div class="control">
                            <div class="select">
                                <select v-model="form.type">
                                    <option value="" v-if="!$route.query.id">Выберите тип поля</option>
                                    <option value="integer">Число</option>
                                    <option value="text">Короткое текстовое поле</option>
                                    <option value="textarea">Большое текстовое поле</option>
                                    <option value="checkbox">Checkbox</option>
                                    <option value="file">Файл</option>
                                    <option value="select">Список</option>
                                </select>
                            </div>
                            <p class="help is-danger" v-if="form.errors.has('type')">{{ form.errors.get('type') }}</p>
                        </div>
                    </div>

                    <div class="field" v-if="form.type =='file'">
                        <label class="label">Тип файла</label>
                        <div class="control">
                            <div class="select">
                                <select v-model="form.file_type">
                                    <option value="pdf">PDF</option>
                                    <option value="word">Word document</option>
                                    <option value="powerpoint">Powerpoint</option>
                                    <option value="excel">Excel</option>
                                    <option value="image">Image</option>
                                </select>
                            </div>
                            <p class="help is-danger" v-if="form.errors.has('file_type')">{{ form.errors.get('file_type') }}</p>
                        </div>
                    </div>

                    <div class="field is-horizontal" v-if="form.type =='select'">
                        <table class="table is-fullwidth">
                            <thead>
                                <tr>
                                    <th>№</th>
                                    <th>Название</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(option, index) in form.options" :key="index">
                                    <td>{{ index + 1}}</td>
                                    <td>
                                        <div class="field">
                                            <div class="control">
                                                <input class="input" type="text" placeholder="Данные выбора" v-model="option.value">
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a class="button" @click="removeElement(index)">
                                            <span class="icon">
                                                <i class="fa fa-trash"></i>
                                            </span>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" class="has-text-centered">
                                        <a class="button" @click="form.options.push({
                                                        id: -1, value: ''})">
                                            Добавить опцию
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="field">
                        <label class="label">Описание</label>
                        <div class="control">
                            <div class="columns">
                                <div class="column is-8">
                                    <textarea class="textarea" placeholder="Описание поля" v-model="form.description"></textarea>
                                </div>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('description')">{{ form.errors.get('description') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Статус поля</label>
                        <div class="control">
                            <div class="select">
                                <select v-model="form.status">
                                    <option value="" v-if="!$route.query.id">Выберите статус</option>
                                    <option value="enabled">Активно </option>
                                    <option value="disabled">Неактивно </option>
                                </select>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('status')">{{ form.errors.get('status') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Обязательное поле?</label>
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" v-model="form.required">
                            </label>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('required')">{{ form.errors.get('required') }}</p>
                    </div>

                    <div class="field">
                        <label class="label">Порядок заполнения в форме</label>
                        <div class="control">
                            <div class="columns">
                                <div class="column is-3">
                                    <input class="input" type="number" placeholder="Порядок заполнения" v-model="form.order">
                                </div>
                            </div>
                        </div>
                        <p class="help is-danger" v-if="form.errors.has('order')">
                            {{form.errors.get('order') }}
                        </p>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-primary" v-if="$route.query.id" :class="{
                                               'is-loading': isSubmitted }" @click="update">Сохранить изменения
                            </button>
                            <button v-else class="button is-primary" :class="{
                                               'is-loading': isSubmitted }" @click="submit">Сохранить
                            </button>

                        </div>
                        <div class="control" v-if="$route.query.id">
                            <button class="button is-danger" :class="{
                                               'is-loading': isDeleted }" @click="deleteField">Удалить
                            </button>
                        </div>
                        <div class="control">
                            <button class="button is-link" @click="$router.go(-1)">Отмена
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'field',
    metaInfo: { title: 'Поле' },
    data() {
        return {
            title: 'Поле',
            isLoading: false,
            isSubmitted: false,
            isDeleted: false,
            form: new Form({
                name: '',
                type: '',
                description: '',
                status: '',
                required: false,
                order: '',
                form_type: '',
                file_type: '',
                options: []
            }),
        }
    },
    computed: {
        ...mapGetters([
            'response',
        ])
    },
    created() {
        if (this.$route.query.id) {
            this.isLoading = true;
            this.getData({
                url: '/api/fields/' + this.$route.query.id,
                params: {
                    limit: '',
                    page: ''
                }
            }).then(() => {
                this.form.name = this.response.name
                this.form.type = this.response.type
                this.form.description = this.response.description
                this.form.status = this.response.status
                this.form.required = this.response.required
                this.form.order = this.response.order
                this.form.options = this.response.values
                if (this.response.type === 'file')
                    this.form.file_type = this.response.values[0].value
                this.isLoading = false
            })
        }
    },
    methods: {
        ...mapActions({
            getData: 'getData',
        }),
        submit() {
            this.isSubmitted = true
            this.form.form_type = this.$route.params.type
            this.form.options = this.form.options.filter((item) => {
                return item.value;
            })
            this.form.post('/api/fields')
                .then(response => {
                    this.isSubmitted = false;
                    alert('Поле добавлено')
                    this.$router.go(-1)
                }).catch(() => {
                    this.isSubmitted = false
                })
        },
        update() {
            this.isSubmitted = true
            this.form.put('/api/fields/' + this.$route.query.id)
                .then(response => {
                    this.isSubmitted = false;
                    alert('Поле обновлено')
                    this.form.options = response.values
                }).catch(() => {
                    this.isSubmitted = false
                })
        },
        deleteField() {
            this.isDeleted = true
            axios.delete('/api/fields', {
                params:
                { ids: this.response.id }
            })
                .then(response => {
                    this.isDeleted = false
                    alert('Поле удалено')
                    this.$router.go(-1)
                })
                .catch(() => {
                    this.isDeleted = false
                })
        },
        removeElement(index) {
            if (index > -1) {
                this.form.options.splice(index, 1);
            }
        }


    }
}

</script>