<template>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <h2 class="title">{{ title }} </h2>
            </div>
            <div class="column">
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <button class="button is-primary"
                                @click="$router.push({ name: child,
                                    params : { type: $route.query.type }})">Добавить поле</button>
                    </div>
                </div>
            </div>
        </div>
        <grid v-bind:url="url" :defaultColumns="columns" delete_url="api/fields"
             :child="child" :defaultFilters="defaultFilters"></grid>
        <modal></modal>
    </div>
</template>

<script>
    import grid from '../../components/table.vue'

    export default {
        metaInfo: {
            titleTemplate: 'Поля | %s'
        },
        components : {
            grid
        },
        data() {
            return {
                fields : [],
                columns : [
                    { label: 'Название', name: 'name' },
                    { label: 'Тип', name: 'type' },
                    { label: 'Статус', name: 'status' },
                    { label: 'Обязательное', name: 'required' },
                    { label: 'Порядок', name: 'order' },
                ],
                defaultFilters : [],
                title : '',
                child: 'field'
            }
        },
        computed: {
          url : function () {
              this.title = 'Поля ('+this.$route.query.type+')'
              return '/api/forms/'+ this.$route.query.type +'/fields'
          }
        },
    }
</script>

