<template>
    <div>
        <div class="columns is-gapless is-multiline">
            <navbar></navbar>
            <sidebar></sidebar>
            <div class="column is-10" style="background-color: whitesmoke; padding-bottom: 50px" >
                <section class="hero is-fullheight" style="background-color: whitesmoke; padding-top: 1rem">
                    <div class="hero-head">
                        <child/>
                    </div>
                </section>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'app-layout',
    }
</script>
