<template>
    <ul class="menu-list">
        <li>
            <a v-bind:class="{ 'is-active': show }" @click="toggle">{{ title }}</a>
            <transition name="fade">
                <ul v-if="show">
                    <!--Print out admin shortcuts-->
                    <template v-if="authUser.role == 'admin' && type !== 'events' && type !== 'users'">
                        <template v-if="id == 'startups'">
                            <li>
                                <router-link :to="{ path: 'fields', query: { type:'startup' }}">
                                    Форма заявки
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ path: 'messages', query: { type:'startup' }}">
                                    Сообщения
                                </router-link>
                            </li>
                        </template>

                        <template v-else-if="id == 'investors'">
                            <li>
                                <router-link :to="{ path:'fields', query: { type: 'investor' }}">
                                    Форма заявки
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ path:'messages', query: { type: 'investor' }}">
                                    Сообщения
                                </router-link>
                            </li>
                        </template>
                    </template>

                    <!--Print out user shortcuts-->
                    <li v-for="shortcut in shortcuts" v-if="shortcut.form.type ==type" :key="shortcut.id">
                        <router-link :to="{ path: 'reports', query: { id:
                                shortcut.id }}">
                            {{ shortcut.name }}
                        </router-link>
                    </li>

                    <!--Shortcut to all -->
                    <li v-if="type !== 'events' && type !== 'users' && type !=='applications_startup' && type !== 'applications_investor' ">
                        <router-link v-if="id == 'startups'" :to="{ path: 'reports', query: { type:
                                'startup' }}">
                            Все
                        </router-link>
                        <router-link v-else-if="id == 'investors'" :to="{ path:
                                'reports', query: { type: 'investor' }}">
                            Все
                        </router-link>
                    </li>

                    <li v-if="type === 'events'">
                        <router-link :to="{ path: 'events' }">
                            Все
                        </router-link>
                    </li>

                    <li v-if="type === 'users'">
                        <router-link :to="{ path: 'users' }">
                            Все
                        </router-link>
                    </li>

                    <li v-if="type === 'applications_startup'">
                        <router-link :to="{ path: 'applications', query: { type:
                                'startup' } }">
                            Все
                        </router-link>
                    </li>

                    <li v-if="type === 'applications_investor'">
                        <router-link :to="{ path: 'applications', query: { type:
                                'investor' } }">
                            Все
                        </router-link>
                    </li>

                </ul>
            </transition>
        </li>
    </ul>
</template>
<script>
import { mapGetters } from 'vuex'

export default {
    props: [
        'title',
        'shortcuts',
        'type',
        'id',
    ],
    created() {
        this.EventBus.$on('show', (id) => {
            if (this.id !== id) {
                this.show = false
            }
        })

    },
    computed: mapGetters({
        authUser: 'authUser'
    }),
    data: () => ({
        show: false,
    }),
    methods: {
        toggle() {
            if (this.show) {
                this.show = false
            } else {
                this.show = true
                this.EventBus.$emit('show', this.id);
            }
        }
    }
}

</script>
<style>
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease-out;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}
</style>

