<template>
    <div class="column is-2" style="background-color: currentColor; padding-top: 1rem">
        <section class="hero is-fullheight" style="background-color: currentColor;">
            <div class="hero-head">
                <div class="container is-fluid">
                    <aside class="menu">
                        <template v-if="authUser.role !=='startup' && authUser.status">
                            <p class="menu-label">Стартапы</p>
                            <menu-list title="Стартапы" :shortcuts="shortcuts" type="startup" id="startups"></menu-list>

                            <template v-if="authUser.role == 'admin'">
                                <p class="menu-label">
                                    Инвесторы
                                </p>
                                <menu-list title="Инвесторы" :shortcuts="shortcuts" type="investor" id="investors"></menu-list>
                                <p class="menu-label">
                                    Пользователи
                                </p>
                                <menu-list title="Пользователи" v-bind:shortcuts="shortcuts" type="users" id="users"></menu-list>
                            </template>

                            <p class="menu-label">
                                События
                            </p>
                            <menu-list title="События" :shortcuts="shortcuts" type="events" id="events"></menu-list>
                        </template>

                        <template v-if="authUser.role == 'startup'">
                            <p class="menu-label">
                                Заявки
                            </p>
                            <menu-list title="Заявки" :shortcuts="shortcuts" type="applications_startup"></menu-list>
                        </template>

                        <template v-if="authUser.role == 'investor'">
                            <p class="menu-label">
                                Заявки
                            </p>
                            <menu-list title="Заявки" :shortcuts="shortcuts" type="applications_investor"></menu-list>
                        </template>

                    </aside>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import { mapGetters } from 'vuex'
import MenuList from './menu_list.vue'

export default {
    data: function() {
        return {
            id: '',
        }
    },
    components: {
        MenuList
    },
    computed: mapGetters({
        shortcuts: 'getShortcuts',
        authUser: 'authUser'
    }),
    methods: {},
    created: function() {
        this.$store.dispatch('fetchShortcuts')
    }
}
</script>
<style>
.menu-label {
    color: #7a7a7a;
}

.menu-list a {
    color: #dbdbdb;
}
</style>