<template>
  <section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container  has-text-centered">
        <h1 class="title">
          Страница не найдена
        </h1>
        <h2 class="subtitle">
          <router-link :to="{ name: 'home' }">Вернуться на главную</router-link>
        </h2>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'not-found',

  layout: 'default'
}
</script>
