<template>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <h2 class="title">{{ title }} </h2>
            </div>
        </div>
        <message type="introduction" translation="Сообщение приветствия"></message>
        <message type="confirmation" translation="Сообщение подтверждения"></message>
    </div>
</template>
<script>
import Message from './message.vue'

export default {
    name: 'messages',
    metaInfo: { title: 'Сообщения' },
    data() {
        return {
            title: '',
        }
    },
    components: {
        Message
    },
    created() {
        this.title = `Сообщения (${this.$route.query.type})`;
    },
}

</script>