<template>
    <div class="columns">
        <loader v-if="isLoading"></loader>
        <div class="column is-8" v-if="!isLoading">
            <div class="field">
                <label class="label">{{ translation }}</label>
                <div class="control">
                    <textarea class="textarea" v-model="form.message"></textarea>
                </div>
                <p class="help is-danger" v-if="form.errors.has('message')">{{ form.errors.get('message') }}</p>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary" :class="{'is-loading': isSubmitted }" @click="update('intro')">
                        Сохранить изменения
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'

export default {
    name: 'message',
    props: ['type', 'translation'],
    data() {
        return {
            isLoading: false,
            isSubmitted: false,
            form: new Form({
                id: '',
                message: '',
            }),
        }
    },
    computed: {
        ...mapGetters([
            'response',
        ])
    },
    created() {
        if (this.$route.query.type) {
            this.fetchData();
        }
    },
    methods: {
        ...mapActions({
            getData: 'getData',
        }),
        update(type) {
            this.isSubmitted = true
            this.form.put('/api/messages/' + this.form.id)
                .then(response => {
                    this.isSubmitted = false;
                    alert('Сообщение обновление!')
                }).catch(() => {
                    this.isSubmitted = false
                })
        },
        fetchData: function() {
            this.isLoading = true;
            this.getData({
                url: '/api/messages',
                params: {
                    type: this.$route.query.type,
                    message_type: this.type,
                }
            }).then(() => {
                this.form.message = this.response.message
                this.form.id = this.response.id
                this.isLoading = false
            })
        }
    },
    watch: {
        $route: function() {
            if (this.$route.query.type) {
                this.fetchData();
            }
        }
    }
}

</script>