<template>
    <div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <h2 class="title">{{ title }} </h2>
            </div>
            <div class="column">
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <button class="button is-primary" @click="$router.push({ name: 'forms', query: { type: $route.query.type}})">Заполнить новую заявку</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <grid :url="url" delete_url="api/submissions" :child="child" :defaultColumns="defaultColumns" :defaultFilters="defaultFilters"></grid>
        </div>
        <modal></modal>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import grid from '../../components/table.vue'

export default {
    metaInfo: {
        titleTemplate: 'Заявки | %s'
    },
    components: {
        grid

    },
    data() {
        return {
            fields: [],
            child: 'submission',
            defaultColumns: [],
            defaultFilters: [],
            title: '',
            isLoading: false,
            form_type: '',
            url: ''
        }
    },
    created() {
        this.form_type = this.$route.query.type
        this.title = 'Заявки';
        this.defaultColumns = [];
        this.url = '/api/submissions?type=' + this.$route.query.type + '&format=table'
    },
    computed: {
        filters: function() {
            return this.selectedFilters.slice()
        },
        ...mapGetters([
            'response', 'columns'
        ]),
    },
    methods: {
        ...mapActions({
            getData: 'getData',
            removeFilter: 'removeFilter',
            setSelectedColumns: 'setSelectedColumns',
        }),
        getResults() {
            this.setSelectedFilters(this.filters)
        },
        getParams: function() {
            let params = new URLSearchParams();
            params.append('limit', this.limit);
            params.append('page', this.curr_page);
            return params
        },
        capitalizeFirstChar: function(string) {
            return string.charAt(0).toUpperCase() + string.substring(1)
        },
        getColumn: function(column) {
            let label, name, type;
            if (column.field_id === 'email') {
                label = 'Автор';
                name = 'author';
                type = 'text'
            } else if (column.field_id === 'id') {
                label = 'Id';
                name = 'id';
                type = 'number'
            } else if (column.field_id === 'submitted_at') {
                label = 'Дата';
                name = 'date';
                type = 'date'
            } else if (column.field_id === 'status') {
                label = 'Статус';
                name = 'status';
                type = 'text'
            } else {
                label = this.capitalizeFirstChar(column.field.name);
                name = column.field.name;
                type = column.field.type;
            }
            return {
                field_id: column.field_id,
                label: label,
                name: name,
                type: type,
            }
        }
    },
}
</script>

